@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Inter", sans-serif;
}



nav{
  display: flex; 
  padding: 15px 0;
  align-items: center;
  width: 100%;
  padding-left: 5%;
}
 
 
.KudaImg img{
 width: 180px;
}
 
.LeftBar{
 margin-left: 30%;
}
 
.LeftBar ul{
  display: flex;
  gap: 20px;
}
 
.LeftBar ul li{
  list-style: none;
  font-size: 15px;
  align-items: center;
}
 
 
ul li{
  position: relative;
}
 
ul li a{
display: flex;
text-decoration: none;
}
 
ul li .DropDown li{
display: block;
}
 
ul li .DropDown{
  width: 250px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -35px;
  z-index: 100;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  margin-left: -55px;

}

ul li a:hover{
  background-color: rgb(255, 255, 255);
}
 
ul li:hover ul.DropDown{
display: block;
padding: 25px 50px;
}
 
 
li a{
 color: black;
}
 
ul .DropDown li a{
padding-bottom: 40px;

}
 
li img{
  position: absolute;
  right: +120px ;
  padding: 5px 5px;
  border-radius: 3px;
}
 
.OneImg li img{
  background-color: rgb(11, 111, 210);
  padding: 8px 11px;
  top: -6px;
}
 
.TwoImg li img{
background-color: rgba(140, 229, 190, 0.688);
padding: 8px 11px;
top: -6px;
}
 
.ThirdImg li img{
  background-color:rgb(100, 4, 144);
  padding: 10px 13px;
  top: -6px;
  }

.FourthImg li img{
  background-color: rgb(16, 124, 63);
  padding: 9px 13px;
  top: -6px;
}
 
.FifthImg li img{
  background-color: rgba(71, 168, 114, 0.743);
  padding: 7px 10.2px;
  top: -6px;
}
 
.SixthImg li img{
  background-color: rgba(77, 5, 110, 0.538);
  padding: 7px 15px;
position: absolute;
left: -15px;
top: -6px;
}
 
.SeventhImg li img{
background-color: rgba(63, 173, 111, 0.842);
padding: 7px 10px;
justify-content: center;
top: -6px;
}

div .DropDown2 img{
  position: absolute;
  right: +120px ;
  padding: 5px 5px;
  border-radius: 3px;
}

.ImgOne li img{
  background-color: rgb(11, 111, 210);
  padding: 9px 13px;
  top: -6px;
}

.ImgTwo li img{
  background-color: rgb(16, 124, 63);
  padding: 9px 13px;
  top: -6px;
}



ul .DropDown{
padding: 0px 40px;

}
 
ul .DropDown li a{
margin-left: 40px;

}


div li a{
  padding-bottom: 15px;
}



.LeftBar ul a{
  text-decoration: none;
  color: black;
}
/*Test*/

ul li{
  position: relative;
}

ul li a{
display: flex;
text-decoration: none;
}

ul li .DropDown2 li{
display: block;
}

ul li .DropDown2{
  width: 250px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 320px;
  top: 0px;
  z-index: 90;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  margin-left: -55px;

}

ul li a:hover{
  background-color: rgb(255, 255, 255);
}

ul .OneImg:hover ul.DropDown2{
  display: block;
  padding: 25px 50px;
}

.LeftBar ul li:hover{
  color: rgba(39, 149, 39, 0.575);
  cursor: pointer;
}






.Head1{
  display: flex;
  padding: 8% 0% 6% 10%;
}

.Head1{
  font-size: 23px;

}

.WrapperMain{
  width: 100%;
  margin: 0 auto;
}

section.SecOneA{
 padding: 0 6%;
 margin-bottom: 10%;
}



.Spaces2{
 
 display: flex;
 gap: 5px;
 align-items: center;
}


.HeadOne span{
  position: absolute;
  z-index: 11;
  left: 9%;
  bottom: 50%;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0px 15px;
  }

.T1{
  position: relative;
  font-size: 15px;
  background-color: white;
  padding: 30px 35px;
  border: rgb(227, 227, 227) solid 1px;
  border-radius: 10px;
  color: rgba(64, 64, 65, 0.941);
  padding-right:10%; 
  line-height: 23px;
}




.T2{
  position: relative;
  font-size: 15px;
  background-color: white;
  padding: 66.5px 35px; 
  border: rgb(227, 227, 227) solid 1px;
  border-radius: 10px;
  color: rgba(64, 64, 65, 0.941);
  
}

.HeadTwo span{
  position: absolute;
  z-index: 11;
  left: 37%;
  bottom: 50%;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0px 15px;
  }
  
  
.T3{
  position: relative;
  font-size: 15px;
  background-color: white;
  padding: 40px 35px; 
  border: rgb(227, 227, 227) solid 1px;
  border-radius: 10px;
  color: rgba(64, 64, 65, 0.941);
  line-height: 23px;
}

.HeadThree span{
  position: absolute;
  z-index: 11;
  left: 65%;
  bottom: 50%;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0px 15px;
  
  }







/* .Container{
  
  display: flex;
 flex-direction: row;
 


  
}

.Container div{
  height: 125px;
  width: 30%;
  background-color: rgb(255, 255, 255);
  margin: 5px;
}


.Container div span{
  font-size: 16px;
  text-align: left;
} */













.Closing{
  background-color: #171d32;;
  margin-top: -30px;
  }
  

.List1{
  margin: 0 50%;
  margin-left: 15%;
}



.List1 h3{
  color: white;
  font-size: 20px;
  padding: 15px 0;
}

.List1 ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  list-style: none;
  color: white;
  font-size: 14px;
  line-height: 35px;
}




.PageButton{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr ;
  margin-left: 170%;
  margin-top: -25%; 
}

.ListOmg{
  padding: 50px 10px;
}


.facebook img{
  width: 10px;

}

.Twitter img{
  width: 25px;
}

.List2{
  display: flex;
  gap: 13%;
  margin: 0 15%;
  padding-top: 100px;
  color: white;
  font-size: 15px;
  line-height: 40px;

}

.Adjust{
  word-spacing: 20px;
  padding-left: 20px;
}

.Adjust2{
margin-left: 20px;
}

.IconButton{
  display: flex;
 gap: 150%;

}

.SpanHold p{
  font-size: 15px;
}


.List1 ul li:hover{
  transition: 0.5;
  color: #7cf0b89d;
  cursor: pointer;
}


.SpanHold .Adjust2:hover{
  transition: 0.5;
  color: #7cf0b89d;
  cursor: pointer;
}

.Adjust5{
  word-spacing: -1px;
}

.Adjust3{
  word-spacing: -1px;
  margin-right: 20px;
}


.SpanHold .Adjust3:hover{
  transition: 0.5;
  color: #7cf0b89d;
  cursor: pointer;
}

.SpanHold .Adjust4:hover{
  transition: 0.5;
  color: #7cf0b89d;
  cursor: pointer;
}


.SpanHold .Adjust5:hover{
  transition: 0.5;
  color: #7cf0b89d;
  cursor: pointer;
}

.SpanHold .Adjust1:hover{
  transition: 0.5;
  color: #7cf0b89d;
  cursor: pointer;
}